.app.dark {

  --bg-color: #3f4866;
  --inverted-bg-color: #e0e4fc;

  --primary-color: #e6e8ef;
  --secondary-color: #9ef6e7;

  --inverted-primary-color: #244cc7;
  --inverted-secondary-color: #25a38b;

}